@{
    ViewBag.Title = "SignalR Demo";
}

@section header{
    <script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/zApplication1.js")" type="text/javascript"></script>
}
<h2>My Test Chat 123</h2>
<div>
  <input type="text" id="msg" />
  <input type="submit" id="broadcast" value="broadcast1" />
  <br /><br />
  <div>
    <fieldset>
      <legend>MesageBox</legend>
      <ul id="messages"></ul>
    </fieldset>
  </div> 
</div>
